.person-view div.title-row {
    color:blue;
}

.person-view .address-list {
    list-style: none;
    padding-left:3px;
}

.person-view .address-list li {
    cursor:pointer;
    margin-bottom:10px;
}

.person-view .address-list li:hover {
    background:lightblue;
}
