<div class="col-xs-12  form-group">
  <label>Name</label>
  <input class="w-atr-name form-control" disabled="disabled">
</div>
<div class="col-xs-12  form-group">
  <label>Street</label>
  <input class="w-atr-street form-control" disabled="disabled">
</div>
<div class="col-xs-12 col-md-6 col-lg-3 form-group">
  <label>City</label>
  <input class="w-atr-city form-control" disabled="disabled">
</div>
<div class="col-xs-12 col-md-6 col-lg-3 form-group">
  <label>State</label>
  <input class="w-atr-state form-control" disabled="disabled">
</div>
<div class="col-xs-12 col-md-6 col-lg-3 form-group">
  <label>Country</label>
  <input class="w-atr-country form-control" disabled="disabled">
</div>