<div class="container-fluid">
  <div class="row title-row">
    <div class="col-xs-12">
      <h3><span class="w-atr-displayLastName"/>, <span class="w-atr-displayFirstName special-color"/></h3><button class="w-ctrl-toggleEdit btn-sm btn btn-default">Edit</button>
    </div>
  </div>
  <div class="w-editPanel" style="display:none">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-3  form-group">
        <label>First Name</label>
        <input class="w-atr-firstName form-control">
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 form-group">
        <label>Last Name</label>
        <input class="w-atr-lastName form-control">
      </div>
    </div>
  </div>
</div>