<div class="container-fluid person-app">
  <div class="row title-row">
    <div class="col-xs-12">
      <h3><span class="w-atr-displayLastName"/>, <span class="w-atr-displayFirstName special-color"/></h3>
    </div>
  </div>
  <div class="w-editPanel">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-3  form-group">
        <label>First Name</label>
        <input class="w-atr-firstName form-control">
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 form-group">
        <label>Last Name</label>
        <input class="w-atr-lastName form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 form-group">
        <!--  This list of items was created manually for your benefit. Most apps would use data & a template.-->
        <button class="w-ctrl-setAddress btn btn-primary" data-index="0">Zero</button>
        <button class="w-ctrl-setAddress btn btn-primary" data-index="1">One</button>
        <button class="w-ctrl-setAddress btn btn-primary" data-index="2">Two</button>
        <button class="w-ctrl-setAddress btn btn-primary" data-index="3">Three</button>
      </div>
    </div>
    <div class="w-atr-address row">Boop
    </div>
  </div>
</div>