<tr data-id="{{id}}" class="w-ctrl-viewDetail address-item">
  <td class="w-atr-name">{{name}}</td>
  <td class="w-atr-street">{{street}}</td>
  <td class="w-atr-city">{{city}}</td>
  <td>&nbsp;</td>
</tr>