.person-view h4 button {
    margin-left:5px;
}
.person-view h4 button:first-child {
    margin-right:15px;
}
.person-view div.title-row {
    color:blue;
}

.person-view .address-list {
    border-bottom:lightgray 1px solid;
}
.person-view .address-list thead th.sort,
.person-view .address-list tbody td {
    cursor:pointer;
}

.person-view .address-list thead th.sort:hover,
.person-view .address-list tbody tr:hover {
    background:lightblue;
}
