<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="w-atr-displayName"/>
      <p>Go ahead and edit the fields below to see the name above update dynamically.</p>
      <p>Not a big deal, but the only 'magic' in this html a nicely formatted css classes. <i>w-atr-displayName, w-atr-firstName, w-atr-lastName</i>. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3  form-group">
      <label>First Name</label>
      <input class="w-atr-firstName form-control">
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3 form-group">
      <label>Last Name</label>
      <input class="w-atr-lastName form-control">
    </div>
  </div>
</div>


