<div class="container-fluid person-app">
  <div class="row">
    <div class="col-xs-12 form-group">
      <button class="w-ctrl-setPerson-person btn btn-primary" data-index="0">Person Zero</button>
      <button class="w-ctrl-setPerson-person btn btn-primary" data-index="1">Person One</button>
    </div>
  </div>
  <div class="row title-row">
    <div class="col-xs-12">
      <h3><span class="w-atr-displayName"/></h3>
    </div>
  </div>
  <div class="w-editPanel">
    <div class="row">
      <div class="col-xs-12 form-group">
        <!--  This list of items was created manually for your benefit. Most apps would use data & a template.-->
        <button class="w-ctrl-setAddress-person btn btn-primary" data-index="0">Zero</button>
        <button class="w-ctrl-setAddress-person btn btn-primary" data-index="1">One</button>
        <button class="w-ctrl-setAddress-person btn btn-primary" data-index="2">Two</button>
        <button class="w-ctrl-setAddress-person btn btn-primary" data-index="3">Three</button>
      </div>
    </div>
    <div class="w-atr-address-person row">
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-3  form-group">
        <label>Name</label>
        <input class="w-atr-name-person form-control">
      </div>
    </div>
  </div>
</div>